[Desktop Entry]
Version=1.0
Name=Helwan Text Editor
Comment=A simple text editor for Helwan Linux Team
Exec=python3 /home/sma/Desktop/hel-text-editor/main.py
Icon=/home/sma/Desktop/hel-text-editor/assets/images/splash_screen.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
